body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 510px;
    padding: 0;
}

.register,
.login {
    width: 100%;
    height: 500px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    & p {
        font-size: 15px;
        margin-top: 5px;
        font-weight: 600;

        & span {
            color: var(--main-color);
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.btn_icon {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & i {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        border-radius: 100%;
        background: #ff0000;
        cursor: pointer;

        &:nth-child(3) {
            background: #0084ff;
        }
    }
}

img {
    width: 150px;
    margin-top: 10px;
}

.input_box {
    margin-top: 10px;
    background: #262626;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
}

.input_box input {
    all: unset;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
}

.btn {
    width: 100%;
    padding: 10px;
    background: var(--main-color);
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
}

.content_register {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);;
    border-radius: 10px;
    transition: .3s ease;
}

.content_register.active {
    right: 50%;
}

.content_register .login_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.content_register .register_page {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.content_register .login_page h1 {
    font-size: 30px;
}

.content_register .login_page p,
.content_register .register_page p {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 10px;
}

.content_register #login,
.content_register #register {
    cursor: pointer;
}