* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #161616;
    --main-color: #ffa73c;
    --text-color: #fff;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    overflow: hidden;
}

/* Home Page */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 90px;
    padding: 10px 30px;
}

.header .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header #playlist {
    font-size: 25px;
}

.header .logo {
    width: 100px;
    object-fit: cover;
}

.header .btn_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    font-size: 25px;
}

.header .btn_content i {
    cursor: pointer;
}

.header .home {
    background: #262626;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 100%;
    cursor: pointer;
}

.header .search_content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #262626;
    padding: 10px 20px;
    font-size: 20px;
    gap: 10px;
    width: 600px;
    height: 50px;
    border-radius: .3rem;
}

.header .search_content .search_bar {
    padding: 10px 0;
    width: 100%;
    background: transparent;
    border: transparent;
    color: var(--text-color);
}

.header .search_content .search_bar:focus {
    outline: none;
}

.header .premium {
    background: var(--main-color);
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 100px;
    color: var(--bg-color);
    cursor: pointer;
}

.header .bell {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #262626;
    cursor: pointer;
}

.header .img_profile {
    width: 45px;
    height: 45px;
    background: var(--main-color);
    border-radius: 100%;
    cursor: pointer;
}

.header .profile_cntn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.song_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: var(--bg-color);
}

.song_bottom .desc_song {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.song_bottom .desc_song .img {
    width: 45px;
    height: 45px;
    background: var(--main-color);
    border-radius: .3rem;
    overflow: hidden;
}

.song_bottom .desc_song .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song_bottom .desc_song .desc h3 {
    font-size: 14px;
}

.song_bottom .desc_song .desc p {
    font-size: 12px;
}

.song_bottom .ctrl_song {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 17px;
}

.song_bottom .ctrl_song i {
    opacity: .7;
    cursor: pointer;
    transition: .3s ease;
}

.song_bottom .ctrl_song i:hover {
    opacity: 1;
}

.song_bottom .ctrl_song .line {
    width: 100px;
    height: 8px;
    background: var(--text-color);
    border-radius: 100px;
}

.song_bottom .song_control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.song_bottom .song_control .btn_content {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.song_bottom .song_control .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 12px;
    padding: 0 20px;
    gap: 10px;
    margin-top: 10px;
}

.song_bottom .song_control .line span {
    position: relative;
    background: #ffffff61;
    width: 100%;
    height: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.song_bottom .song_control .line span .active {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: var(--main-color);
    border-radius: 10px;
}

.song_bottom .song_control .line span .active::before {
    content: '';
    position: absolute;
    right: -1px;
    bottom: -3px;
    width: 14px;
    height: 14px;
    background: var(--text-color);
    z-index: 10;
    border-radius: 100%;
    opacity: 0;
}

.song_bottom .song_control .line span:hover .active::before {
    opacity: 1;
}

main {
    position: relative;
    width: 100%;
    height: 580px;
    padding: 0 10px;
    display: flex;
}

main .side_playlist {
    position: absolute;
    left: -270px;
    top: 0;
    height: 100%;
    background: #161616a3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px 10px 10px;
    gap: 10px;
    transition: .5s ease-in-out;
    z-index: 99;
    backdrop-filter: blur(10px);
}

main .side_playlist.active {
    left: 10px;
    z-index: 99;
}

main .side_playlist .menu { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffffff61;
    font-size: 15px;
}

main .side_playlist .playlist_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

main .side_playlist .playlist_box .desc_song {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

main .side_playlist .playlist_box h3 {
    font-size: 15px;
}

main .side_playlist .playlist_box h3:last-child {
    font-size: 12px;
    font-weight: 500;
    color: #ffffff61;
    margin-top: 10px;
}

main .side_playlist .playlist_box .img {
    width: 50px;
    height: 50px;
    background: var(--main-color);
    border-radius: .3rem;
}

main .side_playlist .menu i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    transition: .3s ease;
}

main .side_playlist .menu i:hover {
    background: #8d8d8d61;
}

main .side_playlist .playlist_box .img_artist {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: var(--main-color);
}

main .side_playlist .title {
    padding: 8px 16px;
    border-radius: 10px;
}

main .side_bar {
    background: transparent;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    height: 150px;
}

main .side_bar .menu {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
}

main .side_bar .menu .icon_navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 13px;
    cursor: pointer;
}

main .side_bar .menu .icon_navbar h3 {
    font-size: 15px;
}

main .side_bar .menu .icon_navbar.active {
    background: #8d8d8d61;
    padding: 13px;
    border-radius: 10px;
}

main .side_playlist .playlist_scroll {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 200px;
    padding: 10px 10px 10px;
    overflow-y: scroll;
}

main .side_playlist .playlist_scroll::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

main .side_playlist .playlist_scroll:hover::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}

main .side_bar .img {
    width: 50px;
    height: 50px;
    background: var(--main-color);
    border-radius: .3rem;
    margin-top: 10px;
}

section {
    position: relative;
    height: 100%;
    width: 100%;
    background: var(--second-bg-color);
    margin: 0 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    overflow-y: scroll;
}

section::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

section:hover::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}

main .song_play {
    display: flex;
    flex-direction: column;
    background: var(--second-bg-color);
    width: 750px;
    height: 100%;
    margin-right: 10px;
    border-radius: 10px;
}

main .song_play.active {
    display: flex;
}

main .song_play .song_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

main .song_play .song_header i {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    transition: .3s ease;
}

main .song_play .song_header i:hover {
    background: #8d8d8d61;
}

main .song_play .song_scroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
    padding-top: 0;
}

.song_scroll::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

.song_scroll:hover::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}

main .song_play .song_scroll .img {
    width: 100%;
    height: 350px;
    background: var(--main-color);
    border-radius: 10px;
    overflow: hidden;
}

main .song_play .song_scroll .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .song_play .song_scroll .song_desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

main .song_play .song_scroll .song_desc i {
    font-size: 25px;
    color: var(--main-color);
    cursor: pointer;
}

main .song_play .song_scroll .song_desc .title h3 {
    font-size: 25px;
    cursor: pointer;
}

main .song_play .song_scroll .song_desc .title p {
    color: #ffffff80;
    cursor: pointer;
}

main .song_play .about_artist {
    background: #262626;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

main .song_play .about_artist .img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    background: transparent;
    background-image: url(../aset/song.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
}

main .song_play .about_artist .desc_artist {
    padding: 15px 20px;
}

main .song_play .about_artist .desc_artist h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

main .song_play .about_artist .desc_artist p {
    font-size: 15px;
    color: #8d8d8df1;
}

main .song_play .about_artist .desc_artist .btn_follow {
    padding: 8px 16px;
    margin-top: 20px;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--bg-color);
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: .5s ease-out;
}

main .song_play .about_artist .desc_artist .btn_follow:hover {
    transform: translateY(-8px);
}

main .song_play .about_artist header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 10px;
}

main .song_play .about_artist header h3 {
    font-size: 15px;
}

main .song_play .about_artist header h3:nth-child(2) {
    text-decoration: underline;
}

main .song_play .about_artist .credit_desc {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .song_play .about_artist .credit_desc .name h3 {
    font-size: 15px;
}

main .song_play .about_artist .credit_desc .follow {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.5px;
    border-radius: 100px;
    padding: 8px 16px;
    border: 2px solid var(--text-color);
}

.nav_btn_content {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.nav_btn_content .nav_button {
    all: unset;
    font-size: 35px;
    color: var(--main-color);
    cursor: pointer;
    transition: .3s ease;
}

.nav_btn_content .nav_button:hover {
    opacity: .7;
}